### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as py

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [27]:
player_count=len(purchase_data["SN"].unique())

Total_player=pd.DataFrame({"Total players":[player_count]}) 
Total_player

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
Number_of_Unique_Items=len(purchase_data["Item ID"].unique())

Avrage_price=purchase_data["Price"].mean()

Number_of_Purchases=len(purchase_data["Purchase ID"])

Total_revenue=purchase_data["Price"].sum()

Purchase_analyses =pd.DataFrame({"Number of Unique Items": [Number_of_Unique_Items],"Average Price": [Avrage_price],
                                 "Number of Purchases":[Number_of_Purchases],
                                 "Total Revenue":[Total_revenue]})
Purchase_analyses

Purchase_analyses.style.format({'Average Price':"${:,.2f}",
                          'Total Revenue':"${:,.2f}"})

In [57]:
# Gender Demographics
#Group the Dataframe by gender

Gender_count=purchase_data["Gender"].value_counts()
Male_percenet=Gender_count["Male"]/player_count*100
Female_percent=Gender_count["Female"]/player_count*100
Other_percent=Gender_count["Other / Non-Disclosed"]/player_count*100

Gender_Demographics=pd.DataFrame({"Total Count":[Gender_count["Male"],Gender_count["Female"],Gender_count["Other / Non-Disclosed"]],
                                  "Percentage of Players":[Male_percenet,Female_percent,Other_percent]},
                                  index=['Male', 'Female', 'Other / Non-Disclosed'])

In [0]: Gender_Demographics.index.names = ['Male']
In [1]: Gender_Demographics.index.names = ['Female']


Gender_Demographics.style.format({
                      "Percentage of Players": "%{:,.2f}"
})

"## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [170]:
bins=[0,9.9,13.9,19.9,24.9,29.9,34.9,39.9,100]
group_names={"<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"}

In [183]:
purchase_data["Age range"]=pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price Age range
0    Extraction, Quickblade Of Trembling Hands   3.53     20-24
1                            Frenzied Scimitar   1.56     15-19
2                                 Final Critic   4.88     20-24
3                                  Blindscythe   3.27     20-24
4                                         Fury   1.44     20-24
..                                         ...    ...       ...
775                                       Wolf   3.54     20-24
776                           Exiled Doomblade   1.63     20-24
777      Celeste, Incarnation of the Corrupted   3.46     20-24
778                               Final Critic   4.19     10-14
779                                       Dawn   4.60     20-24

[780 rows x 8 columns]>

In [185]:
age_percent=(purchase_data["Age range"].value_counts())/780*100
age_percent
#age_percetn/player_count)*100

20-24    63.368056
25-29    23.958333
30-34    17.534722
35-39    12.673611
40+       7.118056
<10       4.513889
10-14     3.993056
15-19     2.256944
Name: Age range, dtype: float64

In [190]:
age_count=age_percent.groupby("Age rang")["Item Name"]
age_count.count()

KeyError: 'Age rang'

In [ ]:
age_group=purchase_data.groupby("SN").min()
total_age_count=len(age_group["SN"].unique())

Percentage=(total_age_count/player_count)*100

age_demographics=pd.DataFrame({"Total Count":[total_age_count],
                              "Percentage of Players":[Percentage]})
age_demographics.index.name=None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80